<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page class="flex q-pa-md">
        <div class="row full-width absolute-center">
          <div class="col-3"/>
          <div class="col-6">
            <q-card class="full-width">
              <router-view/>
            </q-card>
          </div>
          <div class="col-3"/>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "LoginLayout"
}
</script>

<style scoped>

</style>
