<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          v-if="!$route.fullPath.includes('/login')"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title class="absolute-center">
          {{ title }}
        </q-toolbar-title>
        <q-item
          class="absolute-right"
          v-ripple
        >
          <q-item-section>
            <q-item-label>{{ $store.getters["auth/getProfile"].full_name }}</q-item-label>
            <q-icon class="absolute-right absolute-center" name="fiber_manual_record" :color="$socket.connected ? 'light-green-5' : 'grey-4'"/>
          </q-item-section>
          <q-item-section avatar>
            <q-item clickable v-ripple @click="logout">
              <q-item-section avatar>
                  <q-icon name="logout"/>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      v-if="!$route.fullPath.includes('/login')"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-card class="full-width">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="active-chats" label="Chats" icon="chat">
            <q-badge v-if="numberOfNewChats > 0" color="red" floating>{{ numberOfNewChats }}</q-badge>
          </q-tab>
          <q-tab name="online-users" label="Users" icon="group"/>
        </q-tabs>
        <q-separator/>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="active-chats">
            <active-chats/>
          </q-tab-panel>

          <q-tab-panel name="online-users">
            <online-users/>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapGetters, mapState} from "vuex"

export default {
  name: 'MainLayout',
  components: {
    'online-users': require('components/OnlineUsers.vue').default,
    'active-chats': require('components/ActiveChats.vue').default,
  },
  data() {
    return {
      leftDrawerOpen: false,
      tab: 'active-chats'
    }
  },
  methods: {
    logout() {
      this.$socket.client.emit('bye', 'pozz', function (data) {

      })
      this.$store.dispatch('auth/AUTH_LOGOUT')
      this.$socket.client.disconnect()
      this.$router.push('/login')
    },
  },
  computed: {
    ...mapGetters({
      getFullName: "socket/getUserFullName",
      numberOfNewChats: "socket/getNumberOfNewChats",
    }),
    title() {
      let currentPath = this.$route.fullPath
      switch (currentPath) {
        case '/':
          return 'Chat'
        case '/login':
          return 'Login'
        default:
          return this.getFullName(this.$route.params.user_id)
      }
    },
  },
  mounted() {

  }
}
</script>
