<template>
  <div>
    <q-tabs
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    >
      <q-tab name="register" label="Register"/>
      <q-tab name="login" label="Login"  @click="toLogin"/>
    </q-tabs>

    <q-separator/>

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="login">
        <form-view :tab="tab"/>
      </q-tab-panel>

      <q-tab-panel name="register">
        <form-view :tab="tab"/>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
export default {
  name: 'PageLogin',
  components: {
    'form-view': require('components/FormView.vue').default
  },
  data() {
    return {
      tab: 'register'
    }
  },
  methods: {
    toLogin() {
      window.location.href = process.env.REDIRECT
    }
  }
}
</script>
