<template>
  <q-form @submit="submitForm" class="q-pa-sm">
    <q-input
      v-model="code"
      class="q-mb-md"
      label="Code"
      outlined rounded/>
    <q-btn
      class="full-width"
      type="submit"
      rounded
      color="primary"
      text-color="white"
      label="Verify"/>
  </q-form>
</template>

<script>
import {mapGetters} from "vuex"

export default {
  name: "PageVerify",
  data() {
    return {
      code: "",
    }
  },
  methods: {
    submitForm() {
      this.$store.dispatch('auth/VERIFY_REQUEST', {
        code: this.code,
        temp_token: this.temp_token
      }).then(() => {
        this.$router.push('/')
      }).catch((error) => {
        this.show_error = true
        this.error_text = 'Bad login.'
        if (error.message === 'Network Error') {
          this.error_text = 'Cannot connect to the server'
        }
      })
    },
  },
  computed: {
    ...mapGetters({
      temp_token: 'auth/temp_token',
    }),
  },
  sockets: {}
}
</script>

<style scoped>

</style>
