<template>
  <q-page class="flex column" ref="pageChat">
    <q-banner
      v-if="!isUserOnline($route.params.user_id)"
      class="text-white bg-red text-center">
      {{ userData.first_name }} is offline
    </q-banner>
    <div class="q-pa-md column col justify-end">
      <q-chat-message
        v-for="message in getMessages(this.$route.params.user_id)"
        :key="message.timestamp"
        :name="isSentByMe(message.from) ? profile.full_name : userData.full_name"
        :text="[message.content]"
        :sent="isSentByMe(message.from)"
        text-sanitize
        name-sanitize
        :stamp="message.timestamp"
        :bg-color="isSentByMe(message.from) && !message.sent ? 'red' : ''"
      >
        <template #avatar>
          <q-avatar color="primary" text-color="white">
            {{ isSentByMe(message.from) ? profile.abbreviation : userData.abbreviation }}
          </q-avatar>
        </template>
      </q-chat-message>
    </div>
    <q-footer elevated>
      <q-toolbar>
        <q-form class="full-width" @submit="sendMessage">
          <q-input
            bg-color="white"
            rounded
            outlined
            class="full-width"
            v-model="new_message"
            label="Type something"
            dense>
            <template v-slot:after>
              <q-btn
                round
                dense
                flat icon="send"
                color="white"
                @click="sendMessage"
              />
            </template>
          </q-input>
        </q-form>

      </q-toolbar>
    </q-footer>

  </q-page>
</template>

<script>
import {date} from 'quasar'
import {mapGetters, mapState} from 'vuex'

export default {
  name: 'PageChat',
  data() {
    return {
      isConnected: false,
      new_message: '',
    }
  },
  sockets: {
    // chat() {
    //   this.$socket.client.emit('msg', 'data')
    // },
  },
  methods: {
    isSentByMe(from) {
      return from === this.$store.getters['auth/getProfile'].id
    },
    sendMessage() {
      if (this.new_message.length > 0 && this.new_message.trim()) {
        let time = Date.now()
        let messageData = {
          content: this.new_message,
          from: this.$store.getters["auth/getProfile"].id,
          to: this.$route.params.user_id,
          timestamp: date.formatDate(time, 'DD.MM.YYYY HH:mm:ss')
        }

        this.$socket.client.emit('msg', JSON.stringify(messageData), resp => {
          if (resp.includes("Chill out")) {
            this.$q.notify({
              type: 'warning',
              message: resp,
              position: 'center',
              badgeClass: 'full-width full-height',
              timeout: 5000,
            })
          } else {
            messageData.sent = true
          }
          this.$store.dispatch('socket/sendNewMessage', JSON.stringify(messageData))
        })
        this.new_message = ''
      }
    },
    scrollToBottom() {
      let pageChat = this.$refs.pageChat.$el
      setTimeout(() => {
        window.scrollTo(0, pageChat.scrollHeight)
      }, 20)
    },
  },
  computed: {
    ...mapGetters({
      getMessages: "socket/getMessagesFromChat",
      isUserOnline: "socket/isUserOnline",
      getUserData: "socket/getUserData",

    }),
    ...mapState({
      profile: state => state.auth.profile
    }),
    count() {
      if (this.getMessages(this.$route.params.user_id)) {
        return this.getMessages(this.$route.params.user_id).length
      }
      return 0
    },
    userData() {
      return this.getUserData(this.$route.params.user_id)
    }
  },
  watch: {
    count(val) {
      if (val) {
        this.scrollToBottom()
      }
    },
    '$route.params': {
      handler(newValue) {
        this.$store.dispatch('socket/setActiveChat', this.$route.params.user_id)
      },
      immediate: true,
    }
  },
}
</script>
