<template>
  <q-form @submit="submitForm" v-if="register">
    <q-input
      v-if="shouldShowField('first_name')"
      v-model="formData.first_name"
      class="q-mb-md text-capitalize"
      label="First name"
      :rules="[
        val => (val.length <= 20)  || 'Please use maximum 20 characters',
        ]"
      outlined rounded/>
    <q-input
      v-if="shouldShowField('last_name')"
      v-model="formData.last_name"
      class="q-mb-md text-capitalize"
      label="Last name"
      :rules="[
        val => (val.length <= 20)  || 'Please use maximum 20 characters',
        ]"
      outlined rounded/>
    <q-input
      v-if="shouldShowField('email')"
      v-model="formData.email"
      class="q-mb-md"
      type="email"
      :rules="[val => isValidEmail(val)]"
      label="Email"
      outlined rounded/>
    <q-input
      v-if="shouldShowField('password')"
      v-model="formData.password"
      class="q-mb-md"
      :rules="[
        val => (val.length >= 8)  || 'Please use minimum 8 characters',
        val => (val.length <= 20)  || 'Please use maximum 20 characters',
        ]"
      type="Password"
      label="Password"
      outlined rounded/>
    <q-input
      v-if="shouldShowField('confirm_password')"
      v-model="formData.confirm_password"
      class="q-mb-md"
      type="Password"
      label="Confirm password"
      :rules="[
        val => isConfirmValid(val),
      ]"
      outlined rounded/>
    <div class="row full-width q-pb-md">
      <div class="col"/>
      <re-captcha class="col" v-model="formData.recaptcha_data"/>
      <div class="col"/>
    </div>

    <q-btn
      class="full-width"
      type="submit"
      rounded
      color="primary"
      text-color="white"
      :label="tab"/>
  </q-form>
  <q-card v-else>
    <q-banner
      rounded
      class="bg-grey-2 text-black">
      You need to import your certificate into your browser before you proceed to login.
      <template v-slot:action>
        <q-btn flat color="black" label="Proceed to login" @click="proceed"/>
        <q-btn flat color="black" label="Cancel" @click="cancel"/>
      </template>
    </q-banner>
  </q-card>
</template>

<script>
import ReCaptcha from "components/ReCaptcha"

export default {
  name: "FormView",
  components: {ReCaptcha},
  props: ['tab'],
  data() {
    return {
      register: true,
      formData: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        confirm_password: '',
        recaptcha_data: undefined,
      },
      fields: {
        login: ['email', 'password'],
        register: ['first_name', 'last_name', 'email', 'password', 'confirm_password'],
      }
    }
  },
  methods: {
    shouldShowField(field) {
      return this.fields[this.tab].includes(field)
    },
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/
      return emailPattern.test(val) || 'Invalid email'
    },
    isConfirmValid(val) {
      return this.formData.password === val || "Password and confirm password doesn't match"
    },
    submitForm() {
      const {email, password, first_name, last_name, recaptcha_data} = this.formData
      switch (this.tab) {
        case 'login':
          this.$store.dispatch('auth/AUTH_REQUEST', {
            email: email,
            password: password,
            recaptcha_data: recaptcha_data,
          }).then(() => {
            this.$router.push('/verify')
          }).catch((error) => {
            this.show_error = true
            this.error_text = 'Bad login.'
            if (error.message === 'Network Error') {
              this.error_text = 'Cannot connect to the server'
            }
          })
          break
        case 'register':
          this.$store.dispatch('auth/REGISTER_REQUEST', {
            email: email,
            password: password,
            first_name: first_name,
            last_name: last_name,
            recaptcha_data: recaptcha_data,
          }).then((response) => {
            let fileURL = window.URL.createObjectURL(new Blob([response.data]));
            let fileLink = document.createElement('a');

            fileLink.href = fileURL;
            fileLink.setAttribute('download', 'certificate.p12');
            document.body.appendChild(fileLink);

            fileLink.click()
            this.register = false
            // window.location.href = "https://login.chat.example.com"
          }).catch((error) => {
            this.$q.notify({
              type: 'negative',
              message: error,
              position: 'bottom',
              timeout: 2500,
            })
            this.show_error = true
            this.error_text = 'Bad register.'
            if (error.message === 'Network Error') {
              this.error_text = 'Cannot connect to the server'
            }
          })
          break
      }
    },
    downloadFile(filename, data) {
      let fileURL = window.URL.createObjectURL(new Blob([data]))
      let fileLink = document.createElement('a')

      fileLink.href = fileURL
      fileLink.setAttribute('download', filename)
      document.body.appendChild(fileLink)

      fileLink.click()
    },
    proceed() {
      window.location.href = process.env.REDIRECT
    },
    cancel() {
      this.register = true
    }
  },
  sockets: {}
}
</script>

<style scoped>

</style>
