<template>
    <q-list class="full-width">
      <q-item
        v-if="Object.keys(allUsers).length > 0"
        v-for="(user, key) in allUsers"
        :key="user.id"
        clickable
        :to="'/chat/' + key"
        v-ripple>
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white">
            {{ user.abbreviation }}
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ user.full_name }}</q-item-label>
          <q-item-label caption lines="1">{{ user.email }}</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="fiber_manual_record" :color="onlineUsers.includes(key) ? 'light-green-5' : 'grey-4'"/>
        </q-item-section>
      </q-item>
    </q-list>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'PageUsers',
  computed: {
    ...mapState({
      onlineUsers: state => state.socket.onlineUsers,
      allUsers: state => state.socket.allUsers,
    }),
  },
}
</script>
