<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>
<script>
export default {
  name: 'App',
  sockets: {
    connect() {
      this.isConnected = true
    },
    malicious(msg) {
      this.$q.notify({
        type: 'negative',
        message: msg,
        position: 'center',
        badgeClass: 'full-width full-height',
        timeout: 5000,
      })
      setTimeout(() => {
          this.$store.dispatch('auth/AUTH_LOGOUT').then(() => {
            this.$router.push('/login')
          }).catch(() => {
            this.$router.push('/login')
          })
        }, 5000
      )
    },
  },
  mounted() {
    console.log(document.cookie)
    let cookieObj = Object.fromEntries(document.cookie.split('; ').map(x => x.split('=')))
    console.log(cookieObj.session_id)
    if (cookieObj.session_id) {
      this.$store.dispatch('auth/PROFILE_REQUEST', {}).then(() => {
        this.$router.push('/')
      }).catch((error) => {
        if (this.$store.getters["auth/isAuthenticated"]) {
          this.$socket.client.emit('bye', 'pozz', function (data) {

          })
          this.$store.dispatch('auth/AUTH_LOGOUT')
          this.$socket.client.disconnect()
          this.$router.push('/login')
        }
      })
    }
  },
  updated() {
    if (this.$store.getters["auth/token"]) {
      this.$socket.client.io.opts.query = {session_id: this.$store.getters["auth/token"]}
      this.$socket.client.open()
    }
  }
  ,
}
</script>
